.homeContent
  .galleryShow
    - if @gallery.image.attached?
      .galleryShow__title
        = @gallery.title

      .galleryShow__image
        = image_tag @gallery.image, width: "800px", class: 'galleryShow__box__image__file'
      
      .galleryShow__page
        - if @gallery.previous_gallery.present?
          = link_to 'PREV', admin_gallery_path(@gallery.previous_gallery), class: 'page__back'
        - if @gallery.next_gallery.present?
          = link_to 'NEXT', admin_gallery_path(@gallery.next_gallery), class: 'page__next'
      
      .galleryShow__agg
        = link_to 'ALL', admin_galleries_path, class: 'index__page'
        = link_to 'TOP', root_path, class: 'home__page'
      
      .galleryShow__text
        = @gallery.text
      
      .galleryShow__change
        - if current_user.admin?
          .galleryShow__change__edit
            = link_to 'EDIT', edit_admin_gallery_path{blog.id}, class: 'edit__page'
          .galleryShow__change__destroy
            = link_to 'DELETE', admin_gallery_path, method: :delete, class: 'delete__page'
        
  .homeContent__right
    = render "layouts/homeContent__right"

  
.commentContent