.homeContent
  
  .homeContent__left
    .homeContent__left__head 最新の投稿
    - @blog[0..6].each do |blog|
      .blogBox
        .blogBox__content
          .blogBox__content__title
            Title
            = link_to "#{blog.title}", admin_blog_path(blog.id), class: 'blog__page'
          .blogBox__content__createtime
            Created At
            = blog.created_at
    .homeContent__left__foot
      = link_to 'ALL', admin_blogs_path, class: 'blog__all'


  .homeContent__center
    .homeContent__center__head 最新の投稿
    -# - @blog[0..6].each do |blog|
      .galleryBox
        .galeryBox__content
          .galleryBox__content__title
            Title
            = link_to "#{blog.title}", admin_blog_path(blog.id), class: 'blog__page'
          .galleryBox__content__createtime
            Created At
            = blog.created_at
    .homeContent__center__foot
      = link_to 'ALL', '#', class: 'gallery__all'


  .homeContent__right
    = render "layouts/homeContent__right"
    