.blog_title
  BLOG
.blogContent__form
= form_with(model: [:admin, @blog]) do |f|
  = render 'layouts/error_messages', model: f.object
  .blogContent__form__title
    = f.label :TITLE , class: 'label'
    = f.text_field :title, placeholder: 'TITLE', class: 'blogContent__form__title__field'
  .blogContent__form__text
    = f.label :BLOG , class: 'label'
    = f.text_area :text, placeholder: 'BLOG', class: 'blogContent__form__text__area'
  .blogContent__form__submit
    = f.submit 'SUBMIT', class: 'submit__btn'
