.homeContent
  .blogIndex
    .blogIndex__main
      .blogIndex__main__top
        %h1 BLOG LIST
      .blogIndex__main__middle
        - @blog.each do |blog|
          .blogIndex__main__middle__title Title
          = link_to "#{blog.title}", admin_blog_path(blog.id)
          .blogIndex__main__middle__created_at Date
          = blog.created_at
      .blogIndex__main__bottom
        = paginate(@blog)
      .blogIndex__main__bottom__top
        = link_to 'TOP', root_path
  
  .homeContent__right
    = render "layouts/homeContent__right"
    