.homeContent
  .blogIndex
    .blogIndex__main
      .blogIndex__main__top
        BLOG
      .blogIndex__main__middle
        - @blog.each do |blog|
          .blogIndex__box
            .blogIndex__box__title
              Title
              = link_to "#{blog.title}", admin_blog_path(blog.id), class: "blog__page"
              .blogIndex__box__createtime
                = blog.created_at
            .blogIndex__box__change
            - if current_user.admin?
              = link_to 'EDIT', edit_admin_blog_path(blog.id), class: 'edit__page'
            -# .blogIndex__change__destroy
            -#   = link_to 'DELETE', admin_blog_path, method: :delete



      .blogIndex__main__bottom
        = paginate(@blog)
      .blogIndex__main__bottom__top
        = link_to 'TOP', root_path
  
  .homeContent__right
    = render "layouts/homeContent__right"
    