.header
  部分テンプレート
.indexBlog
  .indexBlog__main
    .indexBlog__main__top
      %h1 BLOG LIST
    .indexBlog__main__middle
      - @blog.each do |blog|
        .indexBlog__main__middle__title Title
        = link_to "#{blog.title}", admin_blog_path(blog.id)
        .indexBlog__main__middle__created_at Date
        = blog.created_at
    .indexBlog__main__bottom
      = paginate(@blog)
    .indexBlog__main__bottom__top
      = link_to 'TOP', root_path
.footer
  部分テンプレート