%ul.nav__edit
  %li= link_to 'HOME', root_path , class: 'home__page'
  - if current_user.admin? 
    %li= link_to 'BLOG', new_admin_blog_path, class: 'write__blog'
    %li= link_to 'GALLERY', new_admin_gallery_path, class: 'gallery__page'
    %li= link_to 'SHOP', '#', class: 'shop__page'
    %li= link_to 'ADMIN', "#", class: 'admin__page'
  - else
    %li= link_to 'BLOG',  admin_blogs_path, class: 'blog__page'
    %li= link_to 'GALLERY', admin_galleries_path, class: 'gallery__page'
    %li= link_to 'SHOP', '#', class: 'shop__page'
    %li= link_to 'MYPAGE', "#", class: 'my__page'
  %li= link_to 'LOGOUT', destroy_user_session_path, method: :delete, class: 'log__out'
